<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="RelmnDbOutputPath" value="D:\2018\Source\Repos\Samayal365\ImportTamilRecipesIntoRealmDb\RelmnDb"/>
  </appSettings>
  <connectionStrings>
    <add name="TamilRecipeEntities" connectionString="metadata=res://*/TamilRecipeModel.csdl|res://*/TamilRecipeModel.ssdl|res://*/TamilRecipeModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=indiantamilrecip.db.9654659.hostedresource.com;initial catalog=indiantamilrecip;persist security info=True;user id=indiantamilrecip;password=IT4R.Vnv@!;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="goDaddyConStr" connectionString="Server=indiantamilrecip.db.9654659.hostedresource.com;Database=indiantamilrecip;User Id=indiantamilrecip;Password=IT4R.Vnv@!;" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>