<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="FeedFileName" value="D:\2018\myprojects\Samayal365\1.0\code\RecipeToSqlImporter\metadata\Islamicfeed.xml"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
</configuration>