<?xml version="1.0" encoding="utf-8"?>
<configuration>
 
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="RecipeModelContext" connectionString="metadata=res://*/RecipeModel.csdl|res://*/RecipeModel.ssdl|res://*/RecipeModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ANTHONY\VER2012;initial catalog=samayal365;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name ="samayal365Str" connectionString ="Server=ANTHONY\VER2012;Database=samayal365;Trusted_Connection=True;" />
  </connectionStrings>
  <appSettings>
    <add key="sqliteDbPath" value="..\..\sqllite\samayal365_rice.sqlite" />
    <add key="metaDataFeedFilePath" value="..\..\metadata\ricefeed.xml" />
    <add key="parseRating" value="true" />
  </appSettings>
  
</configuration>