<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="RecipeFolder" value="D:\2014\MyProjects\Samayal365\1.0\data\fixed\fry\non-veg"/>
    <!--<add key="FileName" value="vegkuzhambu.xml" />-->
    <add key="InputRootFolder" value="..\..\input\fry\non-veg\"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
</configuration>